# Environment variables
.env

# Virtual environments
evenv/
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Streamlit
.streamlit/secrets.toml

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
